@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @*<li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>*@
    <li class="nav-item direction-rtl">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Login", "Account", new { area = "Identity" })">
            <div class="text-start m-1">
                <button type="submit" class="border-0 btnRegster bg-white font-arr-latif">Logout</button>
            </div>
        </form>
    </li>
}
else
{
     <li class="nav-item">
        <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="direction-rtl" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
