@model InformationWeb
@{
    ViewData["Title"] = "Create";
}


<section class="container pt-5 mt-5">
    <div class="row">
        <div class="col-6">
            <h2 class="text-Dark">Create Information to my Website</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Edit">Edit</a>
        </div>
    </div>
   
    <hr />
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        @*nctype="multipart/form-data" باسخدمها لما بدي أرفع صور بأي فورم*@
        <div class="border px-3 pb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="from-control row mt-3">
                <div class="col-md-2">
                    <label asp-for="City" class="col-form-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="City" class="form-control" />
                    <span class="text-danger" asp-validation-for="City"></span> @*To Required Field*@
                </div>
            </div>

            <div class="from-control row mt-3">
                <div class="col-md-2">
                    <label asp-for="Street" class="col-form-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Street" class="form-control" />
                    <span class="text-danger" asp-validation-for="Street"></span> @*To Required Field*@
                </div>
            </div>

            <div class="from-control row mt-3">
                <div class="col-md-2">
                    <label asp-for="Email" class="col-form-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Email" class="form-control" />
                    <span class="text-danger" asp-validation-for="Email"></span> @*To Required Field*@
                </div>
            </div>

            <div class="from-group row mt-3">
                <div class="col-md-2">
                    <label asp-for="Description" class="col-form-label"></label>
                </div>
                <div class="col-md-8">
                    <textarea asp-for="Description" rows="24" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span> @*To Required Field*@
                </div>
            </div>


            <div class="from-group row mt-md-3">
                <div class="col-md-2">
                    <label asp-for="PhoneNumber" class="col-form-label"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span> @*To Required Field*@
                </div>
            </div>


            <div class="from-group row" style="padding-top:20px;">
                <div class="col-md-8 offset-md-2">
                    <partial name="_CreateAndBackListButtonPartial" />
                </div>
            </div>
        </div>
    </form>
</section>

@section scripts{

    <script>
        //عشان يكون في ايديتور بالايريا
        tinymce.init(
            {
                selector: 'textarea',
                plugins: 'lists',
                menubar: 'file edit format'
            }
        );
    </script>

}